body{font-family: sans-serif;}
/* article tag start */
.allbrowser{
    font-family: sans-serif ;
    font-size: 16px;
    background-color: lightgray;
    padding: 5px;
    margin-right: 50%;
}
.allbrowser .browser ,h1{
    margin: 10px;
    padding: 5px;
}
.browser{background-color: white;}

.browser,h3,p{ margin: 4px; font-size: 90%;
}
/* article tag end */
/* aside tag start */
aside{
    width: 20%;
    padding-left: 10px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: gray;

}
/* aside tag end */
/* details tag start */
summary{
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;

}
details p 
{
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
}
/* details tag end */
/* figure and figcaption tag start */
figure{
    border: 1px #cccccc solid;
    padding: 4px;
    margin-right: 48%;
}
figcaption{
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}
/* figure and figcaption tag end */
/* footer tag start */
footer{
    text-align: center;
    padding: 3px;
    background-color: salmon;
    color: white;
}
/* footer tag end */
/* header start */
header{
    display: block;
    border: 1px #bbbbbb solid;
}
/* header end */
/* nav start */
nav{
    display: block;
}
/* nav end */
/* div tag start */
.div{
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}
/* div tag end */